<h1>Hello World 2!</h1>

<!--<div ng-controller = "inputCtrl" class = "input">
    <input class = "inputBox" type="text"/>
    <div class = "submittedTweets">

--link to tweet server - put in div boxes with borders--

    </div>  
  </div>  -->

<!--ng-view (ON THE INDEX.HTML PAGE) is where html templetes will be loaded when page is navigated to-->

<!-- code from lecture:    
$scope.tweets = [{text: ‘Hello’, userName: ‘anon’}];
<ul>
<li ng-repeat=“tweet in tweets”>
Message: {{tweet.text}}, UserName: {{tweet.userName}}
</li>
</ul> -->